<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="footer">
      <h4>Connect To Us</h4>
      <p>
        Follow us to stay connected and get updates about our new products and
        offers
      </p>
      <div class="social-links">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true" id="insta"></i>
        <i class="fa fa-twitter" aria-hidden="true" id="twitter"></i>
        <i class="fa fa-linkedin" aria-hidden="true" id="linkedin"></i>
        <i class="fa fa-youtube" aria-hidden="true" id="yt"></i>
      </div>
    </section>
  </body>
</html>
